# Default config file is at: $ROS_ROOT/config/rosconsole.config
# ROSCONSOLE_CONFIG_FILE environment variable must point to this file to override the default
#log4j.logger.ros=DEBUG
log4j.logger.ros=INFO
#log4j.logger.ros=WARN
#log4j.logger.ros=ERROR
#log4j.logger.ros=FATAL
log4j.logger.ros.roscpp.superdebug=WARN
