QPushButton {
    color: white;
    background-color: red;
    border: solid white;
    border-style: outset;
    border-width: 4px;
    border-radius: 4px;
}
QPushButton:flat {
    border: none;  /* no border for a flat push button */
}
QPushButton:default {
    border-color: grey;  /* make the default button prominent */
}
QPushButton:pressed {
    background-color: maroon;
    border-style: inset;
}
