<?xml version="1.0"?>
<!-- gazebo_ros_control plugin for URDF -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <xacro:macro name="shoulder_swing_joint_gazebo" params="prefix">
        <transmission name="${prefix}_shoulder_swing_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_shoulder_swing_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_shoulder_swing_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="shoulder_lateral_joint_gazebo" params="prefix">
        <transmission name="${prefix}_shoulder_lateral_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_shoulder_lateral_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_shoulder_lateral_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="elbow_joint_gazebo" params="prefix">
        <transmission name="${prefix}_elbow_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_elbow_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_elbow_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="hand_joint_gazebo" params="prefix">
        <transmission name="${prefix}_elbow_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_elbow_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_elbow_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="hip_twist_joint_gazebo" params="prefix">
        <transmission name="${prefix}_hip_twist_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_hip_twist_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_hip_twist_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="hip_lateral_joint_gazebo" params="prefix">
        <transmission name="${prefix}_hip_lateral_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_hip_lateral_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_hip_lateral_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="hip_swing_joint_gazebo" params="prefix">
        <transmission name="${prefix}_hip_swing_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_hip_swing_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_hip_swing_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="knee_joint_gazebo" params="prefix">
        <transmission name="${prefix}_knee_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_knee_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_knee_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="ankle_swing_joint_gazebo" params="prefix">
        <transmission name="${prefix}_ankle_swing_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_ankle_swing_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_ankle_swing_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="ankle_lateral_joint_gazebo" params="prefix">
        <transmission name="${prefix}_ankle_lateral_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_ankle_lateral_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_ankle_lateral_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
    <xacro:macro name="foot_joint_gazebo" params="prefix">
        <transmission name="${prefix}_ankle_lateral_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_ankle_lateral_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_ankle_lateral_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <shoulder_swing_joint_gazebo prefix="right"/>
    <shoulder_swing_joint_gazebo prefix="left"/>
    <shoulder_lateral_joint_gazebo prefix="right"/>
    <shoulder_lateral_joint_gazebo prefix="left"/>
    <elbow_joint_gazebo prefix="right"/>
    <elbow_joint_gazebo prefix="left"/>
    <hand_joint_gazebo prefix="right"/>
    <hand_joint_gazebo prefix="left"/>
    <hip_twist_joint_gazebo prefix="right"/>
    <hip_twist_joint_gazebo prefix="left"/>
    <hip_lateral_joint_gazebo prefix="right"/>
    <hip_lateral_joint_gazebo prefix="left"/>
    <hip_swing_joint_gazebo prefix="right"/>
    <hip_swing_joint_gazebo prefix="left"/>
    <knee_joint_gazebo prefix="right"/>
    <knee_joint_gazebo prefix="left"/>
    <ankle_swing_joint_gazebo prefix="right"/>
    <ankle_swing_joint_gazebo prefix="left"/>
    <ankle_lateral_joint_gazebo prefix="right"/>
    <ankle_lateral_joint_gazebo prefix="left"/>
    <foot_joint_gazebo prefix="right"/>
    <foot_joint_gazebo prefix="left"/>

</robot>
