<launch>
    <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
        <param name="video_device" value="/dev/video1"/>
        <param name="image_width" value="640"/>
        <param name="image_height" value="480"/>
        <param name="pixel_format" value="mjpeg"/>
        <param name="camera_frame_id" value="camera_link"/>
        <param name="io_method" value="mmap"/>
        <param name="camera_name" value="logitech_c270"/>
        <param name="camera_info_url" value="file://$(find bioloid_master)/param/logitech_c270.yaml"/>
    </node>
<!--
    <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true"/>
    </node>
-->
</launch>
